* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background: linear-gradient(to bottom right, #2e3192, #1bffff);
  min-height: 100vh;
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: white;
  padding: 40px 30px 70px;
  border-radius: 10px;
  margin: 100px auto 20px;
}

.todo-app h2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todo-app img {
  flex: 1;
  width: 100%;
  max-width: 60px;
}
